body > main {
    > .text-section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 50%;

        @media screen and (max-width: 1280px) {
            width: 100%;
        }

        > altshift-button {
            width: fit-content;
        }
    }

    > #about-viktor > about-box {
        --image: url("../images/me.avif");

        > altshift-box[slot="button"] {
            background-color: var(--altshift-main-color);

            &:not([selectable]) {
                &::part(box-container) {
                    &:hover, &:focus-visible {
                        color: var(--altshift-opposite-text-color);
                    }

                    @media screen and (max-width: 1280px) {
                        padding: 0.5rem 1.2rem;
                        font-size: 0.675rem;
                    }
                }

                &:hover, &:focus-visible {
                    background-color: var(--altshift-opposite-main-color);
                    --text-color: var(--altshift-opposite-text-color);
                }
            }

            > * {
                display: block;
                @media screen and (max-width: 1280px) {
                    padding: 0.5rem 1.2rem;
                    font-size: 0.675rem;
                }
            }
        }
    }
}
