body {
    gap: 5rem;

    > main {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    > footer > altshift-footer-www {
        display: block;
        width: var(--header-footer-width);
        margin: 4rem auto 0 auto;
    }
}

header > altshift-header-www {
    display: block;
    width: var(--header-footer-width);
    margin-left: auto;
    margin-right: auto;
    background-color: var(--altshift-main-color);
}

p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 2.125rem;
}
